@import '../../node_modules/react-toastify/dist/ReactToastify.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222 100% 57.5%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 207 20% 91%; /* Light gray */
    --input: 222 50% 57.5%;
    --ring: 222 50% 57.5%;

    --radius: 0.5rem;
    --scrollbar-thumb: 222 100% 57.5%;
    --scrollbar-track: 210 40% 98%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%; /*  */

    --ring: 212.7 26.8% 83.9%;

    --scrollbar-thumb: 222 100% 57.5%;
    --scrollbar-track: 210 40% 98%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .popover-content {
    width: var(--radix-popover-trigger-width);
    max-height: var(--radix-popover-content-available-height);
  }

  .scrollbar::-webkit-scrollbar {
    width: 0.75em;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-300 rounded-full;
    margin-block: 0.5rem;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-500 rounded-full;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-700;
  }

  @supports (scrollbar-color: auto auto) {
    .scrollbar {
      scrollbar-color: rgb(107 114 128) rgb(209 213 219);
      scrollbar-width: thin;
    }
  }
}

.controls {
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.state-title {
  color: #999;
  text-transform: uppercase;
}

.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fcfcfe;
}

.ql-snow.ql-toolbar {
  display: block;
  background: #d5e1fb;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.ql-editor {
  min-height: 200px;
}

.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }
}

pre {
  background-color: darkblue;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  overflow-x: auto;
}

/** Range INPUT */
input[type='range'].range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  height: var(--thumb-size);
  background-color: transparent;
  pointer-events: none;
}

input[type='range'].range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: var(--thumb-size);
}
input[type='range'].range::-moz-range-track {
  -moz-appearance: none;
  height: var(--thumb-size);
}
input[type='range'].range::-ms-track {
  appearance: none;
  height: var(--thumb-size);
}
input[type='range'].range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 100px;
  width: var(--thumb-size);
  background-color: var(--thumb-color);
  cursor: pointer;
  pointer-events: auto;
}
input[type='range'].range::-moz-range-thumb {
  border: none;
  outline: none;
  -webkit-appearance: none;
  height: 100px;
  width: var(--thumb-size);
  cursor: pointer;

  background-color: var(--thumb-color);
  pointer-events: auto;
}
input[type='range'].range::-ms-thumb {
  border: none;
  outline: none;
  appearance: none;
  height: 100px;
  width: var(--thumb-size);
  cursor: pointer;

  background-color: var(--thumb-color);
  pointer-events: auto;
}
input[type='range'].range:active::-webkit-slider-thumb {
  background-color: none;
}
input[type='range'].range:focus::-moz-range-thumb {
  border: none;
  outline: none;
}
input[type='range'].range:active::-moz-range-thumb {
  border: none;
  outline: none;
}

.rt90 {
  transform: rotate(90deg);
}

datalist {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
}

@media screen and (min-width: 1024px) {
  datalist {
    flex-direction: row;
    writing-mode: inherit;
  }
}

option {
  padding: 0;
}

input[type='range'] {
  width: 100%;
  margin: 0;
}
